body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #410070;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Фиксированное позиционирование */
    width: 100%;
    top: 0;
    z-index: 1001;  /* хедер находится над уведомлениями */
}

header .logo {
    font-size: 24px;
}

header .search-bar {
    display: flex;
    align-items: center;
}

header .search-bar input {
    padding: 10px;
    margin-right: 5px;
    width: 400px; /* Ширина поисковой строки */
}

header .search-bar button {
    padding: 10px 20px;
    background-color: #bba1c4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px; /* Закругление краев */
}

header .search-bar button:hover {
    background-color: #683f68; /* Цвет при наведении */
}

header .search-bar button:active {
    background-color: #3b2144; /* Цвет при нажатии */
}

header .icons {
    display: flex;
    align-items: center;
}

header .icons a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 40px;
    color: white;
    text-decoration: none;
}

header .icons img {
    width: 20px;
    height: 20px;
    margin-right: 13px; /* Добавляем отступ между иконкой и текстом */
}

.notifications {
    display: none;
    background-color: #f697ffa0;
    color: #a54851;
    padding: 10px;
    text-align: center;
    position: fixed; /* Фиксированное позиционирование */
    top: 60px; /* Позиционируем ниже хедера */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ширина уведомления */
}

.notifications .notification {
    position: relative;
}

.notifications .close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.container {
    display: flex;
    margin-top: 80px; /* Отступ сверху для хедера */
    margin-bottom: 20px; /* Отступ снизу для футера */
}

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar form {
    display: flex;
    flex-direction: column;
}

.sidebar .filter-group {
    margin-bottom: 20px;
}

.sidebar .filter-group label {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .filter-group input[type="checkbox"] {
    margin-right: 10px;
}

.sidebar .price-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar .price-filters label {
    display: flex;
    align-items: center;
}

.sidebar .price-filters input[type="number"] {
    width: 80px;
    margin-left: 10px;
}

.sidebar button {
    margin-top: 20px;
    padding: 10px;
    background-color: #410070;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px; /* Закругление краев */
}

.catalog {
    margin: 20px;
    flex-grow: 1;
}

.catalog .sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px; /* отступ от краев страницы */
}

.catalog .sort-container select {
    margin-left: 10px;
    width: 200px; /* ширина выпадающего меню */
    padding: 5px; 
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* два контейнера в строке */
    gap: 20px;
    margin: 0 20px;
}

.products .product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; /* Автоматическая высота контейнера */
    box-sizing: border-box; /* Включает padding и border в общую ширину и высоту */
}

.products .product img {
    width: 100%; 
    height: 200px; /* Фиксированная высота для всех изображений */
    object-fit: contain; /* Вмещать изображение в контейнер без обрезки */
    margin-bottom: 10px;
}

.products .product .name {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px; /* Фиксированный размер шрифта для текста */
}

.products .product .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.products .product .rating .star {
    color: gold;
    font-size: 20px;
}

.products .product .rating .rating-value {
    margin-left: 10px;
    font-size: 14px;
    color: #410070;
}

.products .product .price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.products .product .price .old-price {
    color: red;
    text-decoration: line-through;
    margin-left: 10px;
}

.products .product button {
    margin-top: auto;
    padding: 10px;
    background-color: #8452a9;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px; /* Закругление краев */
}

.footer {
    background-color: #410070;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    /* position: fixed; */
}

#load-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #aa9b9b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px; /* Закругление краев */
    font-size: 16px; /* Размер шрифта */
    text-align: center;
    width: 200px; /* Ширина кнопки */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для кнопки */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавный переход */
}

#load-more-button:hover {
    background-color: #653a75; /* Цвет при наведении */
    transform: translateY(-2px); /* Поднятие кнопки при наведении */
}

#load-more-button:active {
    background-color: #2a1734; /* Цвет при нажатии */
    transform: translateY(0); /* Возвращение кнопки на место при нажатии */
}
/* Для мобильных устройств */
@media (max-width: 768px) {
    header .search-bar input {
        width: 100%; /* Ширина поисковой строки на мобильных устройствах */
    }

    header .icons a {
        display: block; /* Иконки в столбик */
        margin: 5px 0;
    }

    .container {
        flex-direction: column; /* Столбцы в строку */
    }

    .sidebar {
        width: 100%; /* Ширина сайдбара на мобильных устройствах */
        padding: 10px;
    }

    .catalog {
        margin: 10px;
    }

    .products {
        grid-template-columns: 1fr; /* Один контейнер в строке */
    }

    .footer {
        padding: 20px 0;
    }

    .sidebar .price-filters {
        flex-direction: column; /* Столбцы в строку */
        align-items: flex-start; /* Выравнивание по левому краю */
    }

    .sidebar .price-filters label {
        width: 100%; /* Ширина поля ввода */
        display: flex;
        align-items: center; /* Выравнивание по центру */
        justify-content: flex-start; /* Выравнивание по левому краю */
        margin-bottom: 10px; /* Расстояние между полями */
    }

    .sidebar .price-filters input[type="number"] {
        width: 60px; /* Ширина поля ввода */
        margin-left: 5px; /* Расстояние от текста до поля ввода */
    }

    .sidebar button {
        width: 50%; /* Ширина кнопки */
        align-self: flex-start; /* Выравнивание кнопки по левому краю */
    }
}


/* Для планшетов */
@media (min-width: 769px) and (max-width: 1024px) {
    header .search-bar input {
        width: 300px; /* Ширина поисковой строки на планшетах */
    }

    .products {
        grid-template-columns: repeat(2, 1fr); /* Два контейнера в строке */
    }
}